html, body {
    background-color: #000000;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-shrink: 0; /* Evita che il display si ridimensioni */

    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    mask-image: linear-gradient(to right, transparent, black 10%); /* Sfumatura da sinistra verso destra */
}

.display p {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", 
    "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: right;
    padding: 2px;
    white-space: nowrap; /* Aggiungi questa proprietà per prevenire il wrapping del testo */
    overflow-x: auto; /* Permetti lo scrolling orizzontale del testo */
}

#previous {
    color: #5b5b5f;
    font-size: 35px;
}

.buttons {
    flex: 1; /* Occupa tutto lo spazio rimanente */
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.btn {
    width: 19%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    border-radius: 60px;
    background-color: #ff9f0a;
    height: 100px;
    cursor: pointer;
}

.btn:active {
    opacity: 0.8;    
}

